
@{
    ViewBag.Title = "About";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h2>Meet Kelsey</h2><br>
                <div>
                    <p class="big-text">
                        Kelsey is a Chicago-based actress who has worked in commercial, TV, and film. Her film
                        career started with the 2015 horror feature Headless that she starred in as Jess Hardy, and
                        has since performed in numerous films including <a href="https://www.imdb.com/title/tt5056352/" target="_blank">Interstellar Civil War</a> (directed by Albert
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>
                        Pyun), "Backlash" (watch <a href="https://www.facebook.com/watch/?v=10155780466903759" target="_blank">trailer here</a>), and <a href="http://amazonhotbox.com/" target="_blank">Amazon Hot Box.</a>
                        Kelsey just wrapped her latest film that she wrote, produced, and starred in, called
                        "Forever" (theforeverfilm on Instagram). This film explores the first love of two women and
                        the idea that nothing, even love, lasts forever.
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12"> <img class="img-responsive" src="@Url.Content("~/Content/img/about/about.png")"> </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>&nbsp;</p>
                <p class="big-text1">
                    Kelsey earned a degree from IU's Media School, double-majoring in Theatre & Drama/
                    Journalism, and trains at Vagabond School of the Arts in Chicago. She is an actress in
                    Chicago's <a href="https://www.murdermysteryco.com/" target="_blank">Murder Mystery Company,</a> in which she has performed over 75 shows. When not acting,
                    Kelsey loves to watch horror movies, write, and pet random people's dogs.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liAbout');
    </script>
}