@model List<PMS.ViewModels.HomeViewModel>
@using PMS.Helpers

@{
    ViewBag.Title = "Home";
    int cnt = 1;
}

<div id="carousel_under_fade" data-ride="carousel" class="carousel slide carousel-fade" data-pause="false">
    <div role="listbox" class="carousel-inner">
        @foreach (var pageitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Image))
        {
            if (cnt == 1)
            {
                <div class="item active">
                    <img alt="carousel picture" src="@Url.Content(pageitem.Description)">
                </div>
                cnt += 1;
            }
            else
            {
                <div class="item">
                    <img alt="carousel picture" src="@Url.Content(pageitem.Description)">
                </div>
            }
        }

    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liHome');
    </script>
}