
@{
    ViewBag.Title = "Contact";
}

<div class="section section- colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12"> <img class="img-responsive" src="~/content/img/contact/contact.png"> </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h2>NV Talent</h2><br>
                <div>
                    <p class="big-text1">
                        Brett Sechrist, Agent <br>
                        312-563-0136 <br>
                        brett@nvtalent.com <br>
                        nvtalent.com <br>
                    </p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Stay in touch with me ...</p>
                    <p>&nbsp;</p><p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liContact');
    </script>
}