@model List<PMS.ViewModels.HomeViewModel>
@using PMS.Helpers

@{
    ViewBag.Title = "Contact";
}

<div class="section section- colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                @*IMAGE*@
                @foreach (var imageitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Image))
                {
                    <img class="img-responsive" src="@Url.Content(imageitem.Description)">
                }
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                @*HEADER*@
                <h2>@Html.Raw(Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Header).Select(s => s.Description).FirstOrDefault())</h2><br>
                <div>
                    @*BODY*@
                    @Html.Raw(Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Body).Select(s => s.Description).FirstOrDefault())
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liContact');
    </script>
}