@model List<PMS.ViewModels.HomeViewModel>
@using PMS.Helpers

@{
    ViewBag.Title = "Reel";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @*HEADER*@
                <h2>@Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Header).Select(s => s.Description).FirstOrDefault()</h2>
                <p>&nbsp;</p>

                @*BODY*@
                <div class="embed-responsive embed-responsive-4by3">
                    @*foreach loop and video tag*@
                    @foreach (var videoitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Video))
                    {
                        <video width="100%" height="800px" controls>
                            <source src="@Url.Content(videoitem.Description)" type="video/mp4">
                        </video>
                    }

                </div>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liReel');
    </script>
}
